
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background-color: #C8E6C9;*/
    font-family: Arial, sans-serif;
    background-image: url('/static/images/lmn.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.form{
    background-color: #FFF8DC;
    padding: 0px;
    height: 600px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
input{
    margin: 15px;
    padding: 15px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid dodgerblue;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #45a049;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button :hover {
background-color: #45a049;
color: #fff;
}
